
<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>解忧杂货铺</title>


<link rel='stylesheet' href='css/splitting.css'>

<link rel="stylesheet" href="css/style.css">

<style type="text/css">
</style>
</head>

<body>

  

<div id="app" data-current-planet="mercury"  style="overflow:auto;">

  <nav class="planet-nav">
    <svg viewBox="0 20 400 400" xmlns="http://www.w3.org/2000/svg">
        <path 
            id="navPath" 
            d="M10,200 C30,-28 370,-28 390,200"
            fill="none" />
      <text>
        <textPath href="#navPath" startOffset="0" font-size="8">
          <tspan>小波</tspan>
          <tspan>彤彤</tspan>
          <tspan>浩博</tspan>
          <tspan>阿杰</tspan>
          <tspan>浪矢</tspan>
          <tspan>晴美</tspan>
          <tspan>秦朗</tspan>
          <tspan>小晴美</tspan>
        </textPath>
      </text>

    </svg>
  </nav>

  <div class="planet" data-planet="mercury" data-active>
    <div class="planet-title">
      <h1>小波</h1>
      <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->

    </div>

    <div class="planet-details">
      <div class="detail" data-detail="tilt" data-postfix="°">
        3.13
      </div>
      <div class="detail" data-detail="gravity" data-postfix="𝗑">
        0.9
      </div>
      <div class="detail" data-detail="hours">
        10
      </div>
    </div>

    <figure class="planet-figure">
      <img src="img/xiaobo.jpg" height="700" width="800"/>
    </figure>
  </div>

  <div class="planet" data-planet="venus">
    <div class="planet-title">
      <h1>彤彤</h1>
      <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->

    </div>

    <div class="planet-details">
      <div class="detail" data-detail="tilt" data-postfix="°">
        4.13
      </div>
      <div class="detail" data-detail="gravity" data-postfix="𝗑">
        0.2
      </div>
      <div class="detail" data-detail="hours">
        20
      </div>
    </div>

    <figure class="planet-figure">
      <img src="img/tongtong.jpg" />
    </figure>
  </div>

  <div class="planet" data-planet="earth">
    <div class="planet-title">
      <h1>浩博</h1>
      <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
    </div>

    <div class="planet-details">
      <div class="detail" data-detail="tilt" data-postfix="°">
        5.13
      </div>
      <div class="detail" data-detail="gravity" data-postfix="𝗑">
        7.3
      </div>
      <div class="detail" data-detail="hours">
        30
      </div>
    </div>

    <figure class="planet-figure">
      <img src="img/haobo.jpg" />
    </figure>
  </div>

  <div class="planet" data-planet="mars">
    <div class="planet-title">
      <h1>阿杰</h1>
      <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
    </div>

    <div class="planet-details">
      <div class="detail" data-detail="tilt" data-postfix="°">
        6.13
      </div>
      <div class="detail" data-detail="gravity" data-postfix="𝗑">
        1.1
      </div>
      <div class="detail" data-detail="hours">
        40
      </div>
    </div>

    <figure class="planet-figure">
      <img src="img/ajie.jpg" />
    </figure>
  </div>

  <div class="planet" data-planet="jupiter">
    <div class="planet-title">
      <h1>浪矢</h1>
      <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
    </div>

    <div class="planet-details">
      <div class="detail" data-detail="tilt" data-postfix="°">
        11.13
      </div>
      <div class="detail" data-detail="gravity" data-postfix="𝗑">
        1.8
      </div>
      <div class="detail" data-detail="hours">
        50
      </div>
    </div>

    <figure class="planet-figure">
      <img src="img/langshi.jpg" />
    </figure>
  </div>

  <div class="planet" data-planet="saturn">
    <div class="planet-title">
      <h1>晴美</h1>
      <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
    </div>

    <div class="planet-details">
      <div class="detail" data-detail="tilt" data-postfix="°">
        9.13
      </div>
      <div class="detail" data-detail="gravity" data-postfix="𝗑">
        7.3
      </div>
      <div class="detail" data-detail="hours">
        60
      </div>
    </div>

    <figure class="planet-figure">
      <img src="img/qingmei.jpg" />
    </figure>
  </div>

  <div class="planet" data-planet="uranus">
    <div class="planet-title">
      <h1>秦朗</h1>
      <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>s -->
    </div>

    <div class="planet-details">
      <div class="detail" data-detail="tilt" data-postfix="°">
        11.13
      </div>
      <div class="detail" data-detail="gravity" data-postfix="𝗑">
        1.8
      </div>
      <div class="detail" data-detail="hours">
        50
      </div>    </div>

    <figure class="planet-figure">
      <img src="img/qinlang.jpg" />
    </figure>
  </div>


  <div class="planet" data-planet="neptune">
    <div class="planet-title">
      <h1>小晴美</h1>
      <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
    </div>

    <div class="planet-details">
      <div class="detail" data-detail="tilt" data-postfix="°">
        31.03      </div>
      <div class="detail" data-detail="gravity" data-postfix="𝗑">
        8.9      </div>
      <div class="detail" data-detail="hours">
        10
      </div>
    </div>

    <figure class="planet-figure">
      <img src="img/qingmei.jpg" />
    </figure>
  </div>

</div>


<script src='js/splitting.min.js'></script>
<script src="js/script.js"></script>

</body>
</html>
