
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Planet Picker 🌍👌 | Text/Number Transitions & Circular SVG Nav Tutorial | @keyframers 2.10.0</title>

<!-- Bootstrap Core CSS -->
<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../static/css/stylish-portfolio.min.css" rel="stylesheet">

<link rel='stylesheet' href='../static/css/splitting.css'>

<link rel="stylesheet" href="../static/css/style.css">

<style type="text/css">
 
</style>
</head>

<body id="page-top">

  <!-- Navigation class="menu-toggle rounded" -->
  <a href="https://github.com/login/oauth/authorize?client_id=f0299c35ff4a8f8ba726&redirect_uri=http://localhost:8887/callback&scope=user&state=1">
    Login
  </a>
  
  
  
 

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <!-- <h1 class="mb-1">这间杂货店</h1>
      <h3 class="mb-5">
        <em>专治各种不开心</em>
      </h3> -->
      <br>
      <br>
      <br>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Enter</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
          <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at
            <a href="https://unsplash.com/">Unsplash</a>!</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">What We Offer</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Responsive</strong>
          </h4>
          <p class="text-faded mb-0">Looks great on any screen size!</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Redesigned</strong>
          </h4>
          <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Favorited</strong>
          </h4>
          <p class="text-faded mb-0">Millions of users
            <i class="fas fa-heart"></i>
            Start Bootstrap!</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Question</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em>your</em>
        next website!</h2>
      <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download Now!</a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Stationary</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/shop.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Ice Cream</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Strawberries</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">The buttons below are impossible to resist...</h2>
      <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
      <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section>

  <!-- Map -->
  <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <!-- 人物介绍 -->
    <!-- <div id="app" data-current-planet="mercury"  style="overflow:auto;">

      <nav class="planet-nav">
        <svg viewBox="0 20 400 400" xmlns="http://www.w3.org/2000/svg">
            <path 
                id="navPath" 
                d="M10,200 C30,-28 370,-28 390,200"
                fill="none" />
          <text>
            <textPath href="#navPath" startOffset="0" font-size="8">
              <tspan>小波</tspan>
              <tspan>彤彤</tspan>
              <tspan>浩博</tspan>
              <tspan>阿杰</tspan>
              <tspan>浪矢</tspan>
              <tspan>晴美</tspan>
              <tspan>秦朗</tspan>
              <tspan>小晴美</tspan>
            </textPath>
          </text>
    
        </svg>
      </nav>
    
      <div class="planet" data-planet="mercury" data-active>
        <div class="planet-title">
          <h1>小波</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    
        </div>
    
        <div class="planet-details">
          <div class="detail" data-detail="tilt" data-postfix="°">
            3.13
          </div>
          <div class="detail" data-detail="gravity" data-postfix="𝗑">
            0.9
          </div>
          <div class="detail" data-detail="hours">
            10
          </div>
        </div>
    
        <figure class="planet-figure">
          <img src="img/xiaobo.jpg" height="600" width="400"/>
        </figure>
      </div>
    
      <div class="planet" data-planet="venus">
        <div class="planet-title">
          <h1>彤彤</h1>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> -->
    
        <!-- </div>
    
        <div class="planet-details">
          <div class="detail" data-detail="tilt" data-postfix="°">
            4.13
          </div>
          <div class="detail" data-detail="gravity" data-postfix="𝗑">
            0.2
          </div>
          <div class="detail" data-detail="hours">
            20
          </div>
        </div>
    
        <figure class="planet-figure">
          <img src="img/tongtong.jpg" height="600" width="400"/>
        </figure>
      </div>
    
      <div class="planet" data-planet="earth">
        <div class="planet-title">
          <h1>浩博</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    
        <div class="planet-details">
          <div class="detail" data-detail="tilt" data-postfix="°">
            5.13
          </div>
          <div class="detail" data-detail="gravity" data-postfix="𝗑">
            7.3
          </div>
          <div class="detail" data-detail="hours">
            30
          </div>
        </div>
    
        <figure class="planet-figure">
          <img src="img/haobo.jpg" height="600" width="400"/>
        </figure>
      </div>
    
      <div class="planet" data-planet="mars">
        <div class="planet-title">
          <h1>阿杰</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    
        <div class="planet-details">
          <div class="detail" data-detail="tilt" data-postfix="°">
            6.13
          </div>
          <div class="detail" data-detail="gravity" data-postfix="𝗑">
            1.1
          </div>
          <div class="detail" data-detail="hours">
            40
          </div>
        </div>
    
        <figure class="planet-figure">
          <img src="img/ajie.jpg" height="600" width="400"/>
        </figure>
      </div>
    
      <div class="planet" data-planet="jupiter">
        <div class="planet-title">
          <h1>浪矢</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    
        <div class="planet-details">
          <div class="detail" data-detail="tilt" data-postfix="°">
            11.13
          </div>
          <div class="detail" data-detail="gravity" data-postfix="𝗑">
            1.8
          </div>
          <div class="detail" data-detail="hours">
            50
          </div>
        </div>
    
        <figure class="planet-figure">
          <img src="img/langshi.jpg" height="600" width="400"/>
        </figure>
      </div>
    
      <div class="planet" data-planet="saturn">
        <div class="planet-title">
          <h1>晴美</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    
        <div class="planet-details">
          <div class="detail" data-detail="tilt" data-postfix="°">
            9.13
          </div>
          <div class="detail" data-detail="gravity" data-postfix="𝗑">
            7.3
          </div>
          <div class="detail" data-detail="hours">
            60
          </div>
        </div>
    
        <figure class="planet-figure">
          <img src="img/qingmei.jpg" height="600" width="400"/>
        </figure>
      </div>
    
      <div class="planet" data-planet="uranus">
        <div class="planet-title">
          <h1>秦朗</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    
        <div class="planet-details">
          <div class="detail" data-detail="tilt" data-postfix="°">
            11.13
          </div>
          <div class="detail" data-detail="gravity" data-postfix="𝗑">
            1.8
          </div>
          <div class="detail" data-detail="hours">
            50
          </div>    </div>
    
        <figure class="planet-figure">
          <img src="img/qinlang.jpg" height="600" width="400"/>
        </figure>
      </div>
    
    
      <div class="planet" data-planet="neptune">
        <div class="planet-title">
          <h1>小晴美</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    
        <div class="planet-details">
          <div class="detail" data-detail="tilt" data-postfix="°">
            31.03      </div>
          <div class="detail" data-detail="gravity" data-postfix="𝗑">
            8.9      </div>
          <div class="detail" data-detail="hours">
            10
          </div>
        </div>
    
        <figure class="planet-figure">
          <img src="img/qingmei.jpg" />
        </figure>
      </div>
    
    </div>  -->
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>




 <!-- Bootstrap core JavaScript -->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Plugin JavaScript -->
 <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

 <!-- Custom scripts for this template -->
 <script src="js/stylish-portfolio.min.js"></script>
<script src='js/splitting.min.js'></script>
<script src="js/script.js"></script>
</body>
</html>
