<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>回信</title>
<script src="/js/modernizr.js" charset="utf-8" type="text/javascript"></script>
<link rel="stylesheet" href="/css/style2.css" />
<link href='http://fonts.useso.com/css?family=Satisfy' rel='stylesheet' type='text/css' />

<body>

<section class="container" id="contact" >
    <form class="flip">
        <div class="front">
            <p>解忧杂货店</p>
            <p>地址：湖北省武汉市武昌区徐家棚街道</p>
            <p>75004 湖北大学</p>
            <a id="flip2back" href="#">drop me a line</a>
        </div>
        <div id="content" class="back">
            <div id="letter">
                <div class="container">
                    <div class="flip">
                          <div class="front"></div>
                          <div class="back">
                            此处为信件内容
                            <a id="close" href="#">关闭</a>
                        </div>
                    </div>
                </div>
                <form action="/letter/comment" >
                    标题 <input type="text" name="title"/><br>
                     ****写信中****<br>
                    <textarea name="content" class="required" id="message" placeholder="请写出您想要写给ta的心里话哦">
                    </textarea>
                    <input value="投信" class="submit" type="submit"/>
                </form>
            </div>
            <div id="top">
                <a id="flip" href="#contact">翻转</a>
            </div>
            <div id="lid" class="container">
                  <div class="flip">    
                      <div class="front">
                        <!-- <div>
                            <label for="name">Your title :</label>
                            <input type="text"  id="name" name="name">
                        </div>
                        <div>
                            <label for="mail">Your email :</label>
                            <input type="text" id="mail" name="mail" >
                        </div> -->
                        <a id="open" href="#content">打开</a>
                    </div>
                    <div class="back"></div>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- 以前的代码 -->
        <form action="/letter/comment" >
           标题 <input type="text" name="title"/><br>
            ****写信中****<br>
            <textarea name="content" cols="80" rows="20" placeholder="请写出您想要写给ta的心里话哦">
            </textarea><br>
            <input value="回复" type="submit"/>
        </form>

        <form action="/letter/write" >
            标题1 <input type="text" name="title"/><br>
            ****写信中****<br>
            <textarea name="content" cols="80" rows="20" placeholder="请写出您想要写给ta的心里话哦">
            </textarea><br>
            <input value="投信" type="submit"/>
        </form>
</body>
</html>